# --- C# / .NET Core ---
bin/
obj/

# --- Visual Studio ---
.vs/
*.user
*.suo

# --- Docker ---
docker-compose.override.yml
.env

# --- Sistem de Operare ---
Thumbs.db
.DS_Store

# --- Diverse ---
*.log
.idea/
task-manager.sln



# --- Configurare / Securitate ---
.config/
appsettings.json
appsettings.Development.json
