@model TaskManager.Models.Project

@{
    ViewData["Title"] = "Sterge Proiect";
}

<h1>Sterge Proiect</h1>

<h3>Esti sigur ca vrei sa stergi acest proiect?</h3>
<div class="alert alert-warning">
    Atentie! Aceasta actiune va sterge si toate datele asociate.
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sterge Definitiv" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Inapoi</a>
    </form>
</div>